# Ignorar todo lo relacionado con pruebas
test/
tests/
**/test/
**/tests/# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
*.local

# TypeScript
*.tsbuildinfo

# IDEs/Editors
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log

# OS files
Thumbs.db
